<div class="apply-container">
  <h1>APPLY TO THE SCHOOL</h1>

  <mat-card appearance="outlined">
    <mat-card-content>
      <h2>
        The Yale School of Art is a graduate school that confers Master of Fine
        Arts Degrees in Graphic Design, Painting/Printmaking, Photography, and
        Sculpture
      </h2>

      <p>
        For information on applications to the MFA program, please click the
        “Graduate Admission” link below.

        <br />
        The undergraduate admissions process ishandled entirely through
        <a href="#">Yale College</a>. Please refer all undergraduate admissions
        questions to the
        <a href="#"> Yale College Undergraduate Admissions Office </a>.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="menu-apply-container">
    <button mat-fab extended>Graduate Admission</button>

    <button mat-fab extended>Tuition, Fees, & Financing Your Education</button>

    <button mat-fab extended>Graduate Study Areas</button>

    <button mat-fab extended>Courses</button>

    <button mat-fab extended>Housing</button>

    <button mat-fab extended>Brochures and Documentation</button>
  </div>
</div>
