<div class="app-container">
  <div class="container">
    <mat-toolbar>
      <div class="support">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png" alt="logo" />
      </div>

      <h1 class="title">YALE SCHOOL OF ART</h1>

      <div *ngIf="!username" class="validate">
        <button class="login-button" (click)="goLogin()">Log In</button>
        <button class="register-button" (click)="goRegister()">Register</button>
      </div>

      <p *ngIf="username ? username : ''">Hello, {{ username }}</p>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>
</div>
