<div class="public-events-container">
  <h1>Public Events</h1>
  <p>
    Welcome to the School of Art’s public events calendar, initiated in the
    summer of 2020. To stay updated on new events as they’re confirmed, all
    members of the public are invited to subscribe to this calendar using their
    own calendaring software by clicking the “Subscribe” button below.
  </p>
  <div class="external-links">
    <div class="external-link">
      <h2>See more events on our Facebook:</h2>
      <div>
        <span aria-hidden="true">📘</span>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </div>
    </div>
    <div class="external-link">
      <h2>
        See more exhibitions and events by members of the School of Art
        community, visit:
      </h2>
      <div>
        <span aria-hidden="true">🌐</span>
        <a
          href="https://www.art.yale.edu"
          target="_blank"
          rel="noopener noreferrer"
          >Yale School of Art in the World</a
        >
      </div>
    </div>
    <div class="external-link">
      <h2>For questions, please communicate with:</h2>
      <div>
        <span aria-hidden="true">✉️</span>
        <a href="mailto:lindsey.mancini@example.com">Lindsey Mancini</a>
      </div>
    </div>
  </div>
  <div class="calendar">
    <schedule-component></schedule-component>
  </div>
</div>
