<div class="exhibitions-container">
  <div class="description">
    <h1>EXHIBITIONS</h1>
    <p>
      The School of Art galleries in Green Hall provide a year-round forum for
      the exhibition of work by students, faculty, and special guests in the
      four graduate departments of the School and the undergraduate program.\
    </p>

    <p>
      During exhibitions, Green Hall Gallery at 1156 Chapel Street is typically
      open to the public but due to COVID-19, it will remain open only to the
      Yale community until further notice.
    </p>
  </div>

  <section class="spring-section">
    <h2>SPRING 2024 IN GREEN HALL GALLERY</h2>

    <div class="schedule-exhibition-container">
      <h2>EXHIBITION SCHEDULE</h2>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
      <div>
        <h3>Painting/Printmaking MFA Thesis Exhibition Group 1</h3>
        <h4>May 13 – 21, 2024</h4>
        <h4>Public reception on Saturday, May 18 from 6–8PM</h4>
      </div>
    </div>
  </section>

  <div class="spread">
    <div class="spread-container">
      <card-component
        [title]="'Spread'"
        [bodyWork]="'2024 Graphic Design MFA Thesis Exhibition'"
        [published]="'Green Hall Gallery'"
        [date]="'May 13 – 21, 2024'"
        [details]="'Public reception on Saturday, May 18 from 6–8PM'"
        [content]="
          'Spread: a technical term in graphic design, refers to two adjacent pages whose connection is revealed as one opens a book. A paired set, hinged at its shared edge, the spread functions much like a diptych—perpetually in relation. We open up spreads, and they open up for us. Like the spread, we have found ourselves and our practices momentarily fixed to one another, fastened into relation, our perspectives fused together, like the left eye and the right eye.<br /><br />' +
          'SPREAD features work by the 2024 MFA candidates in Graphic Design presented in conversation with one another, reproducing and remixing the culmination of our time—our thesis books—in order to amplify our connections and expand the definition of graphic design as a way of relating. The polysemic title also functions as an invitation: as a verb, SPREAD further expresses our collective desire to share this work outside of the graphic design program through additional public programming during and after the exhibition.<br /><br />' +
          'Featuring work by Simon Charwey, Julio Correa Estrada, Davy Dai, Sara Duell, Kayla Hawkins, Darnell Henderson, Junyan Hu, Claire Hungerford, Kaming Lee, Siri Lee, Daedalus Guoning Li, Lobbin Liu, Xinyi Liu, Neeta Patel, Orlando Porras, June Lihua Yu, Qiang Wang, and Ken Wenrui Zhao.'
        "
        [enableReadMore]="true"
      ></card-component>

      <card-component
        [title]="'Spread'"
        [bodyWork]="'2024 Graphic Design MFA Thesis Exhibition'"
        [published]="'Green Hall Gallery'"
        [date]="'May 13 – 21, 2024'"
        [details]="'Public reception on Saturday, May 18 from 6–8PM'"
        [content]="
          'Spread: a technical term in graphic design, refers to two adjacent pages whose connection is revealed as one opens a book. A paired set, hinged at its shared edge, the spread functions much like a diptych—perpetually in relation. We open up spreads, and they open up for us. Like the spread, we have found ourselves and our practices momentarily fixed to one another, fastened into relation, our perspectives fused together, like the left eye and the right eye.<br /><br />' +
          'SPREAD features work by the 2024 MFA candidates in Graphic Design presented in conversation with one another, reproducing and remixing the culmination of our time—our thesis books—in order to amplify our connections and expand the definition of graphic design as a way of relating. The polysemic title also functions as an invitation: as a verb, SPREAD further expresses our collective desire to share this work outside of the graphic design program through additional public programming during and after the exhibition.<br /><br />' +
          'Featuring work by Simon Charwey, Julio Correa Estrada, Davy Dai, Sara Duell, Kayla Hawkins, Darnell Henderson, Junyan Hu, Claire Hungerford, Kaming Lee, Siri Lee, Daedalus Guoning Li, Lobbin Liu, Xinyi Liu, Neeta Patel, Orlando Porras, June Lihua Yu, Qiang Wang, and Ken Wenrui Zhao.'
        "
        [enableReadMore]="true"
      ></card-component>
    </div>
    <button mat-flat-button>See Past Exhibitions</button>
  </div>

  <h5>
    For SoA faculty & students:
    <a href="#"
      >More about gallery spaces, when they're avable, & the gallery-request
      form</a
    >
  </h5>
</div>
